.text-padding {
    padding: 20px;
}

.custom-button {
    background-color: pink !important;
    color: black !important;
    width: 10% !important; 

}
.custom-button:disabled {
    background-color: gray !important; /* Change to your preferred color */
    color: black !important; /* Change text color if needed */
    /* Add other styles for the disabled state as needed */
}